html {
  background-color: rgba(246, 255, 246, 1);
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/gradation.png');
  background-size: cover;
  /* 이미지가 화면에 맞게 크기 조정 */
  background-position: center center;
  /* 수평, 수직 모두 중앙 정렬 */
  background-repeat: no-repeat;
  /* 이미지 반복 금지 */
  z-index: -1;
  /* 콘텐츠 뒤에 위치 */
}