table, td, th
{
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.table-cell-min-width-64px
{
    min-width: 64px;
}

.table-cell-min-width-128px
{
    min-width: 128px;
}

.table-cell-min-width-256px
{
    min-width: 256px;
}